body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

#navbar {
    background: #76bea6;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Trirong', serif;
    width: 100%;
    height: 100px;
    position: fixed;
}

#logo {
    display: inline-block;
    float: left;
    height: 70px;
    padding: 5px;
    margin-top: 10px
}

#logo-name {
    font-family: 'Trirong', serif;
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 2em;
    margin-top: 20px;
    color: #4e3829;
}

.container {
    margin: auto;
    max-width: 1187px;
}

img.hero {
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding-top: 100px;
}

#nav-links {
    display: inline-block;
    float: right;
    margin-top: 35px;
}

#navs {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #4e3829;
}

#content {
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: lightgrey;
}

.hero{
    max-height: 600px;
    overflow: hidden;
    width: 100%;
}

.hero-banner{
    background-color: rgba(255,255,255,0.7);
    bottom: 50px;
    position:absolute;
    width: 100%
}

.main-container{
    font-family: 'Trirong', serif;
    margin: auto;
    max-width: 1187px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.default-paragraph{
    font-size: 1.2em;
}

.footer{
    background-color: #86D0FF;
    height: 120px;
    width: 100%;    
    border-top: 1px solid black;
}

.footer-content{
    font-family: 'Trirong', serif;
    margin: auto;
    max-width: 1187px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
}