body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

#navbar {
    background: #76bea6;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Trirong', serif;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
}

#logo {
    display: inline-block;
    float: left;
    height: 70px;
    padding-right: 5px;
    margin-top: 5px
}

#logo-name {
    font-family: 'Trirong', serif;
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 2em;
    margin-top: 12px;
    color: #4e3829;
}

.container {
    margin: auto;
    max-width: 1187px;
}

img.hero {
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding-top: 80px;
}

.nav-icon{
    width: 70px;
    height: 70px;
}

#nav-links {
    display: inline-block;
    float: right;
    margin-top: 27px;
}

#navs {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #4e3829;
}

#content {
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: lightgrey;
}

.hero{
    max-height: 600px;
    overflow: hidden;
    width: 100%;
}

.hero-banner{
    background-color: rgba(255,255,255,0.7);
    bottom: 50px;
    position:absolute;
    width: 100%
}

.main-container{
    font-family: 'Trirong', serif;
    margin: auto;
    max-width: 1187px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.default-paragraph{
    font-size: 1em;
}

.footer{
    background-color: #76bea6;
    height: 80px;
    width: 100%;
}

.footer-content{
    color: #4e3829;
    font-family: 'Trirong', serif;
    font-size: 0.9em;
    margin: auto;
    max-width: 1187px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
}
/*Dog cards*/
.dogs {
    z-index: 0;
}

.cards {
    position: relative;
    width: 100%;
}

h3 {
    position: absolute;
    top: 531px;
    left: 0;
    width: 100%;
}

h3 span { 
   color: white; 
   font: bold 40px/89px 'Trirong', serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

@media screen and (max-width: 720px) {
    #nav-links {
        display: none;
    }

    #nav-links.current {
        display: block;
    }
	
}